<!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 管理面板</a>
                    </li>
                    <li>
                        <a href="{:U(Index/index)}"><i class="fa fa-desktop"></i> 留言板管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" >
                            <li><a href="{:U('Comment/index')}">留言板</a></li>
                            <li><a href="{:U('Comment/is_dele')}">垃圾留言</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="{:U('Index/chart')}"><i class="fa fa-bar-chart-o"></i> 内容管理</a>
                    </li>
                    <li>
                        <a href="{:U('Index/tab_panel')}"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
                    </li>
                    
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">